language: java

cache:
  directories:
    - $HOME/.m2
    - /home/travis/.m2/repository

jobs:
  include:
    - stage: Compile loguno-processor
      language: java
      jdk: oraclejdk8
      script:
        - echo "Compile loguno-processor..."
        - pwd
        - cd loguno-processor
        - pwd
        - mvn clean install
        - cd ..
        - cd loguno-test
        - jdk_switcher use oraclejdk9
        - echo "Compile loguno-test by java 9..."
        - mvn test
      install: true

#



#    - stage: Compile loguno-test
#      language: java
#      jdk: oraclejdk9
#      script:
#      - echo "Compile loguno-test..."
#      - pwd
#      - cd loguno-test
#      - pwd
#      - mvn clean compile
#      install: true



#jdk:
# - oraclejdk8
# - oraclejdk9
# - openjdk8
# - openjdk9

#script: cd loguno-processor & mvn clean install -DskipTests=true
#after_success:
#  - mvn clean test jacoco:report coveralls:report
#before_deploy:
#  - mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
#  - export project_version=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')

## Create release in GitHub
