language: java

jobs:
  include:
    - script: echo "Running unit tests (1)"
      install: true
    - script: echo "Running unit tests (2)"
      install: true
    - stage: Compile loguno-test
      language: java
      jdk: oraclejdk8
      script: echo "Compile loguno-test..." & cd loguno-test & mvn clean compile
      install: true

#jdk:
# - oraclejdk8
# - oraclejdk9
# - openjdk8
# - openjdk9

#script: cd loguno-processor & mvn clean install -DskipTests=true
#after_success:
#  - mvn clean test jacoco:report coveralls:report
#before_deploy:
#  - mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
#  - export project_version=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')

## Create release in GitHub
