language: java
jdk:
 - oraclejdk8
 - openjdk8
after_success:
  - mvn clean test jacoco:report coveralls:report
before_deploy:
  - mvn help:evaluate -N -Dexpression=project.version|grep -v '\['
  - export project_version=$(mvn help:evaluate -N -Dexpression=project.version|grep -v '\[')

## Create release in GitHub
